---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Us" description="About SaaS Finder">
  <div class="prose max-w-2xl mx-auto mt-10">
    <h1>About Us</h1>
    <p>Welcome to SaaS Finder.</p>
    <p>We are dedicated to helping you find the best software alternatives...</p>
    </div>
</Layout>